<!-- app/views/sessions/new.html.erb -->
<div class="form">
  <ul class="form-outer">
    <%= form_with url: login_path, local: true do |f| %>
    <li>
      <%= f.email_field :email, placeholder: "Email address" %>
    </li>

    <li>
      <%= f.password_field :password, placeholder: "Password" %>
    </li>

    <li>
      <div class="submit-button">
        <%= f.submit "Log in" %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
