/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url("https://media.istockphoto.com/photos/young-plant-watered-from-a-watering-can-picture-id637580444?k=6&m=637580444&s=612x612&w=0&h=SA3IWKMhjEuGMjqdFnCDfaTYmMsJwFHt27XJkaMjdzU=") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  width: 100%;
  background-color: royalblue;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  display: inline-block;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.disabled-nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.form {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: 10px;

  width: 35%;
  max-width: 200px;

  background-color: tomato;

  display: flex;
  flex-form: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-outer,
.form-inner {
  list-style-type: none;
  padding: 0;
}

.form-outer {
  max-width: inherit;
  margin: auto;
}

.form-outer li,
.form-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.form-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.form-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.form-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.form-outer > li > label + *,
.form-inner {
  flex: 1 0 220px;
}

.form-outer li p {
  margin: 0;
}

.form-outer li input,
.form-outer li textarea {
  padding: 1.25em;
}

.submit-button {
  margin-left: auto;
  padding: 5px;
  color: #f2f2f2;
  letter-spacing: 1em;
}

.form-inner li {
  width: 100px;
}
